---
import Link from "./ui/link.astro";
---

<div
  class="bg-black px-20 py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-3xl md:text-6xl">Our Blog.</h2>
  <p class="text-slate-500 mt-4 text-lg md:text-xl">
    Our blog also features guest posts from experts in their respective fields, so you can get the most up-to-date information on any subject. 
    We hope that our blog will be a valuable resource for all of our readers. Thanks for stopping by!
  </p>
  <div class="flex mt-5">
    <Link href="http://127.0.0.1:3000/blog" style="inverted">Read more.</Link>
  </div>
</div>
